.footer {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 104px;
  align-items: center;
}

.footer__text {
  font-family: RobotoRoboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  flex-direction: row;
}

.footer__nav {
  display: flex;
  gap: 40px;
  margin-right: 40px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #1a1b22;
  align-items: center;
}

.footer__link {
  text-decoration: none;
}

.footer__nav a:visited {
  color: #1a1b22;
  text-decoration: none;
}

.footer__nav a:active {
  text-decoration: none;
}

.footer__socials {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer__facebook-icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 64px;
    max-width: 768px;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 176px;
    max-width: 320px;
    flex-direction: column-reverse;
    padding: 20px 16px 22px;
    align-items: center;
  }

  .footer__links {
    width: 288px;
    justify-content: space-between;
  }

  .footer__nav {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .footer__socials {
    align-items: flex-start;
  }
}
